.color-plate ul li label {
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
    margin: 15px auto;
    box-shadow: 0 0 0 5px #eee;
}

.navbar-nav .dropdown-menu {
    padding: 0;
    background-color: #fff;
    width: 250px;
}

.navbar-nav .dropdown-menu li h4 {
    margin: 10px 10px 10px;
}


.navbar-nav .dropdown-menu {
    top: 0;
    left: 105%;
}

.color-plate ul li input {
    display: none;
}label.bg-orange {}

.color-plate ul li input:checked~label:before {
    content: "\f00c";
    display: block;
    font-family: "FontAwesome";
    color: #fff;
    line-height: 30px;
    text-align: center;
}


.tsc-nav {
    border: 1px solid #ccc;
    float: left;
    width: 100%;
}

.tsc-nav h3 {
    background-color: #28c4da;
    margin: 0;
    padding: 12px;
    color: #333;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.tsc-nav .nav >li { width:100%; }
.tsc-nav .nav li a{ color:#333; }
.tsc-nav .nav .open>a, .tsc-nav .nav .open>a:hover, .tsc-nav .nav .open>a:focus {
    background-color: transparent;
    color: #28c4da;
}

.navbar-nav .dropdown-menu:before {
    content: " ";
    left: -8px;
    width: 15px;
    height: 15px;
    background: #fff;
    transform: rotate(45deg);
    top: 10px;
    display: block;
    position: absolute;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}



.tsc-nav ul li a i.fa {
    display: block;
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 10px;
}

.tsc-nav ul li a i.navicon1 {
	background-image: url("images/navicon1.png");
}
.tsc-nav ul li a:hover i.navicon1 {
    background-image: url("images/navicon1--hover.png");
}

.tsc-nav ul li a i.navicon2 {
	background-image: url("images/navicon2.png");
}
.tsc-nav ul li a:hover i.navicon2 {
    background-image: url("images/navicon2--hover.png");
}

.tsc-nav ul li a i.navicon3 {
	background-image: url("images/navicon3.png");
}
.tsc-nav ul li a:hover i.navicon3 {
    background-image: url("images/navicon3--hover.png");
}

.tsc-nav ul li a i.navicon4 {
	background-image: url("images/navicon4.png");
}
.tsc-nav ul li a:hover i.navicon4 {
    background-image: url("images/navicon4--hover.png");
}


.tsc-nav ul li a i.navicon5 {
	background-image: url("images/navicon5.png");
}
.tsc-nav ul li a:hover i.navicon5 {
    background-image: url("images/navicon5--hover.png");
}


.tsc-nav ul li a i.navicon6 {
	background-image: url("images/navicon6.png");
}
.tsc-nav ul li a:hover i.navicon6 {
    background-image: url("images/navicon6--hover.png");
}


.tsc-nav .nav li a {
    color: #333;
    padding: 10px 10px;
    line-height: 32px;
}

.tsc-main {
    border: 1px solid #ccc;
    padding: 0;
}

.tsc-main {
    border: 1px solid #ccc;
    padding: 0;
}

.tsc-main__nav li {
    float: left;
    width: 16.666666666666%;
}

.tsc-main__nav li button {
    border: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px 0;
}

.tsc-main__nav li button span {
    display: block;
    font-weight: 500;
    font-size: 15px;
}

.tsc-main__nav li+li {
    border-left: 1px solid #ccc;
}

.tsc-canvas {
    float: left;
    width: 100%;
    background-image: url(images/bg.jpg);
    padding: 30px 0;
    border-top: crimson;
    height: 480px;
}

.tsc-main__nav {
    border-bottom: 1px solid #eee;
    float: left;
    width: 100%;
}

button.btn {
    height: 45px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
}

button.btn-default,
button.btn-default:hover {
    background-color: #252525;
    color: #fff;
    border-color: #252525;
}

button.btn-primary,
button.btn-primary:hover {
    background-color: #01bbd4;
    border-color: #01bbd4;
}

.tsc-main__actions {
    padding: 15px;
    float: left;
    width: 100%;
    border-top: 1px solid #ccc;
}

.sidebar__front,.sidebar__back {
    text-align: center;
}

.sidebar__front__img, .sidebar__back__img {
    width: 100px;
    margin: 0 auto;
    padding: 15px 0;
}

.tsc-sidebar .form-group {
    margin: 0;
}

.tsc-selection {
    position: absolute;
    top: 30%;
    left: 34%;
}
body .btn:hover, body .btn:focus {
    outline: none !important;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    background-color: #c6c6c6;
}

section.tsc-area .container {
    width: 1170px !important;
    position: relative;
}

.tsc-nav .nav li a:hover+ul {
    display: none;
}

.tsc-nav .nav li.open a+ul {
    display:block !important;
}

.tsc-nav .dropdown .close {
    width: 30px;
    height: 30px;
    border: 0px solid #ccc;
}

.menu-plate {
    width: 100%;
    float: left;
    border-top: 1px solid #eee;
}












/*
section.nav-hdr--middle {
    display: none;
}

section.hdr-area.hdr-nav.hdr--sticky.cross-toggle.bg-white {
    display: none;
}
*/

html body.modal-open {
    overflow: visible;
    padding-right: 0px !important;
}


.modal-backdrop {
    display: none;
}
.modal.modal--tsc,
.modal-open .modal.modal--tsc {
    margin-right: 0px;
    position: absolute;
    z-index: 2;
    left: 300px;
	right:auto;
	opacity:1;
}

.modal.modal--tsc {
    z-index: -2;
    opacity: 1;
    height: 100%;
    left: 300px;
	opacity:0;
}

.modal.modal--tsc .modal-dialog,
.modal-open .modal.modal--tsc .modal-dialog {
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 1px solid #eee;
	right:auto;
}

.modal.modal--tsc .modal-content,
.modal-open .modal.modal--tsc .modal-content {
    height: 100%;
}

 .modal.modal--tsc .modal-header,
.modal-open .modal.modal--tsc .modal-header {
    height: 10%;
}

.modal.modal--tsc .modal-body,
.modal-open .modal.modal--tsc .modal-body {
    height: 90%; padding:0;
}

.modal .navbar-nav>li {
    width: 100%;
}

.modal .navbar-nav>li>a {
    padding: 2px;
    color: #fff;
}


.modal__nav {
    float: left;
    width: 100%;
    height: 100%;
    width: 268px;
    overflow-y: auto
}

.modal__main {
    float: left;
    width: 100%;
    height: 100%;
    width: 580px;
	overflow-y: auto;
}
.modal.modal--tsc {
    position: absolute;
}

.modal span.input-group-addon {
    padding: 0;
    width: 40px;
    background-color: #fff;
}

.modal span.input-group-addon button {
    border: 0;
    width: 100%;
    height: 38px;
    background-color: transparent;
    font-size: 18px;
}


.modal__search {
    margin: 5px 0 20px;
    font-weight: 200;
}


.list-artwork ul li span {
    display: block;
    height: 140px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}

.list-artwork ul li h5 {
    text-align: center;
    color: #333;
    font-weight: 200;
}

.tsc-sidebar .form-control {
    font-size: 16px;
    font-weight: 300;
    color: #000;
    box-shadow: none;
    border: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}